.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        aa
      %ul.main-header__left-box__member-list
        bbbb
    .main-header__edit-btn
      Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker
          sasa
        %p.message__upper-info__date
          2022/08/12
      %p.message__text
        hello
      .message__upper-info
        %p.message__upper-info__talker
          sasa
        %p.message__upper-info__date
          2022/08/12
      %p.message__text
        hello
  .form
    %form.new_message{:id => "new_message" , :method => "post" , :enctype => "multipart/form-data" , :accept_charset => "UTF-8"}
      .input-box
        %input.input-box__text{:type => "text" , :name => "message[content]" , :id => "message_content" , :placeholder => "type a message"}
        %label.input-box__image{:for => "message_image"}
          = icon('far' , 'image')
          %input.input-box__image__file{:type => "file" , :name => "message[image]" , :id => "message_image"}
      %input.submit-btn{:type => "submit" , :name => "commit" , :value => "Send" , :data_disable_with => "send"}