.chat-side
 .side-header
  %h3.side-header__name
  ユーザーネーム
  %ul.side-header__lists
   %li.list
    = link_to '#' do
     = icon('fa', 'edit',class: 'icon')
   %li.list
    = link_to '#' do
     = icon('fa', 'cog',class: 'icon')
 .groups